/* style.css */
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

h1{
    font-family: 'Jeju Gothic', sans-serif;
}


h2{
    font-family: 'Nanum Pen Script', cursive;
}

body{
    background:rgba(255, 174, 0, 0.637);
    margin:0;
}

#main {
    max-width:800px;
    min-height:600px;
    padding:5px;
    background: rgba(0, 0, 153, 0.404);
    margin:auto;

}
#content{
    min-height:500px;
}
#header,footer{
    min-height:100px;
   
}
#footer{
    margin-bottom:25px;
}
.nice{
    color:#f55;
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
  }

span{
    font-weight: bold;
}
.mycolor1 {
    color:#085;
}
.mycolor2 {
    color:#854;
}
.mycolor3 {
    color:#712;
}
.mycolor4 {
    color:#f09;
}
.mycolor1 {
    color:#009;
}

a.mylink{
    text-decoration: none;
    font-weight: bold;
    color:#f09;
    padding:5px;
}
a.mylink:hover{
    background:#000;
    color:#0f0;
}
@media only screen and (max-width: 600px) {
    body {
        background-color:#555;
        margin:5px;
    }

    #main{
        background-color: #0f0;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}