/* style.css */


body{
    background:#599;
    margin:0;
}

#main {
    max-width:800px;
    min-height:500px;
    padding:5px;
    background: #fff;
    margin:auto;

}
#content{
    min-height:500px;
}
#header,footer{
    min-height:100px;
   
}
#footer{
    margin-bottom:25px;
}
.nice{
    color:#f55;
    font-weight: bold;
}

.svg{
    height:400px;
    background-image: url(logo.svg)
  }

span{
    font-weight: bold;
}
.mycolor1 {
    color:#f90;
}
.mycolor2 {
    color:#0a0;
}
.mycolor3 {
    color:#990;
}
.mycolor4 {
    color:#f09;
}
.mycolor1 {
    color:#009;
}

a.mylink{
    text-decoration: none;
    font-weight: bold;
    color:#f09;
    padding:5px;
}
a.mylink:hover{
    background:#000;
    color:#0f0;
}
@media only screen and (max-width: 480px) {
    body {
        background-color:#f55;
        margin:5px;
    }

    #main{
        background-color: #fdf;
    }
}

