@import "compass";

.wrap {
  width: 400px;
  height: auto;
}

.map_svg{
  display: block;
  margin: 0 auto;
    a{
      polygon,
      path{
        @include transition-property(opacity);
        @include transition-duration(.5s);
        @include transition-timing-function(ease);
      }
      &:hover,
      &:focus{
        cursor: pointer;
        polygon,
        path{
          opacity: 0.25;
        }
      }
   }
 }
