
#phone_main{
    margin:auto;
    width:600px;
    min-height:600px;
    background: #fff;
}
#phone_btnSave{
    padding:5px;
    margin-top: 5px;
    background: cadetblue;
    color:#fff;
    border:0;
    cursor: pointer;
}
phone_table{
    border:1px solid #ddd;
    width:100%;
}

phone_mark {
  background-color: yellow;
  color: black;
}