body{
    margin:0;
}

#main{
    margin:auto;
    width:100%;
    height:100%;
    min-height: 500px;
    padding:5px;
    text-align:center;
}

#header{
	text-align: center;
	float: center;

}
#l1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#l2 a {
     display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#l2 a.active {
     background-color: #4CAF50;
    color: white;
}

#l2 a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.container {
	margin: 30px auto;
	border: 1px solid #333;
	background: #55c1e7;
}

/*--extend--*/
.area {
	width: 600px;
	height: 288px;
	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
}

.figure {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.svg") no-repeat;
	width: 220px;
	height: 266px;
	transform: translate3D(200px, 50px, 0);
	animation: walk 0.78s steps(9) infinite;
	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
}
.no-svg .figure {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.png");
}

.fore {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.svg");
	transform: translateZ(0);
	animation: bk 7s -5s linear infinite;
}
.no-svg .fore {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.png");
}

.mid {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.svg");
	animation: bk 15s -5s linear infinite;
	transform: translateZ(0);
}
.no-svg .mid {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.png");
}

.bk {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.svg");
	animation: bk 20s -5s linear infinite;
	transform: translateZ(0);
}
.no-svg .bk {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.png");
}

@keyframes walk {
	100% { background-position: 0 -2376px; }
}

@keyframes bk {
	100% { background-position: 200% 0; }
}

@media screen and ( max-width: 600px ) {
	.container { 
		width: 100%; 
		margin-top: 0;
	}
	.figure { transform: translate3D(40%, 50px, 0); }
}

/* Tabs */
.tabs-container .panel-body {
	background: #fff;
	border-radius: 2px;
	padding: 20px;
	position: relative;
}
.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
	border: 1px solid #e7eaec;
	border-bottom-color: transparent;
	background-color: #fff;
}
.tabs-container .nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.tabs-container .tab-pane .panel-body {
	border-top: none;
}
.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
	border: 1px solid #e7eaec;
	border-bottom-color: transparent;
}
.tabs-container .nav-tabs {
	border-bottom: 1px solid #e7eaec;
}
.tabs-container .tab-pane .panel-body {
	border-top: none;
}
.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {

}
.tabs-container .nav-tabs > li a:hover {
	background: transparent;
	border-color: transparent;
}
.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
	border-bottom: 0;
}
.tabs-container .tabs-left .panel-body {
	position: static;
}
.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
	width: 20%;
}
.tabs-container .tabs-left .panel-body {
	width: 80%;
	margin-left: 20%;
}
.tabs-container .tabs-right .panel-body {
	width: 80%;
	margin-right: 20%;
}
.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
	display: none;
}
.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
	display: block;
}
.tabs-container .tabs-below > .nav-tabs {
	border-top: 1px solid #e7eaec;
}
.tabs-container .tabs-below > .nav-tabs > li {
	margin-top: -1px;
	margin-bottom: 0;
}
.tabs-container .tabs-below > .nav-tabs > li > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
	border-top-color: #e7eaec;
	border-bottom-color: transparent;
}
.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px;
}
.tabs-container .tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
}
.tabs-container .tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
	border-color: #e7eaec transparent #e7eaec #e7eaec;
	*border-right-color: #ffffff;
}
.tabs-container .tabs-right > .nav-tabs {
	float: right;
	margin-left: 19px;
}
.tabs-container .tabs-right > .nav-tabs > li > a {
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
	border-color: #e7eaec #e7eaec #e7eaec transparent;
	*border-left-color: #ffffff;
	z-index: 1;
}
@media (max-width: 767px) {
	.tabs-container .nav-tabs > li {
		float: none !important;
	}
	.tabs-container .nav-tabs > li.active > a {
		border-bottom: 1px solid #e7eaec !important;
		margin: 0;
	}
}

.paint_menu {overflow:auto;border:1px solid #ccc;background:#f2f2f2;top:0px;}
