#box1, box2{
    width: 100px;
    height: 100px;
    display:inline-block;
    margin: 10px;
}

#box2:hover{
    background: #00f;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }